<a href="https://colab.research.google.com/github/muyale/Data-Science/blob/main/Books_to_Scrape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
books = []
# There are a total of 50 pages so I created a loop for all the pages to extract data
for i in range(1,51):
  url =f"https://books.toscrape.com/catalogue/page-{i}.html"
  response  = requests.get(url)
  soup = BeautifulSoup(response.content,'html.parser')
  ol = soup.find('ol')
  articles = ol.find_all('article',class_='product_pod')

    
  for article in articles:
    # We are getting the names from the image title class
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star['class'][1]
    price = article.find('p',class_='price_color').text
    price = float(price[1:])
    books.append([title,price,star])

In [44]:
books_df = pd.DataFrame(books,columns=['Title','Price','StarRating'])
# Since it is a list of lists we create columns for each

In [45]:
books_df.to_csv('Books.csv')

In [46]:
books_df.head(20)
#To check on the csv file that we have scraped

                                                Title  Price StarRating
0                                A Light in the Attic  51.77      Three
1                                  Tipping the Velvet  53.74        One
2                                          Soumission  50.10        One
3                                       Sharp Objects  47.82       Four
4               Sapiens: A Brief History of Humankind  54.23       Five
5                                     The Requiem Red  22.65        One
6   The Dirty Little Secrets of Getting Your Dream...  33.34       Four
7   The Coming Woman: A Novel Based on the Life of...  17.93      Three
8   The Boys in the Boat: Nine Americans and Their...  22.60       Four
9                                     The Black Maria  52.15        One
10     Starving Hearts (Triangular Trade Trilogy, #1)  13.99        Two
11                              Shakespeare's Sonnets  20.66       Four
12                                        Set Me Free  17.46       Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  52.29       Five
14                          Rip it Up and Start Again  35.02       Five
15  Our Band Could Be Your Life: Scenes from the A...  57.25      Three
16                                               Olio  23.88        One
17  Mesaerion: The Best Science Fiction Stories 18...  37.59        One
18                       Libertarianism for Beginners  51.33        Two
19                            It's Only the Himalayas  45.17        Two